<footer class="footer">

  <div class="footer-container">

    <div class="footer-col">
      <h2>MONTRA - FILM & <br> VIDEO PRODUCTION</h2>

      <h4>OUR OFFICE</h4>
      <p>
        123 Montra Studio Boulevard., <br>
        Los Angeles, CA 90210
      </p>

      <h4>CONTACT US</h4>
      <p>+1 (800) 234-5678</p>
    </div>

    <div class="footer-col">
      <h3>NAVIGATION</h3>
      <ul>
        <li>Home</li>
        <li>About Us</li>
        <li>Services</li>
        <li>Portfolio</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>

      <div class="subscribe">
        <input type="email" placeholder="hello@montrastudio.com">
        <button>SUBSCRIBE NOW</button>
      </div>

      <h4>SOCIAL MEDIA</h4>

      <div class="socials">
        <a>IG</a>
        <a>FB</a>
        <a>X</a>
        <a>YT</a>
      </div>
    </div>

  </div>

  <div class="footer-big">
    MONTRA STUDIO
  </div>

  <hr>

  <div class="footer-bottom">
    <span>Privacy Policy</span>
    <span>© 2025 Montra Studio. All rights reserved.</span>
    <span>Terms & Conditions</span>
  </div>

</footer>