<footer class="footer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <div class="footer-container">

    <!-- LEFT -->
    <div class="footer-col">
      <h2>SIA PRODUCTIONS</h2>

      <h4>OUR OFFICE</h4>
      <p>
       No.156/8-P19
21st cross road bhagavati layout<br>
Bengaluru, Karnataka 560076
India
      </p>

      <h4>CONTACT US</h4>
      <p>+91 97409 74343</p>
    </div>

    <!-- NAVIGATION -->
    <div class="footer-col">
      <h3>NAVIGATION</h3>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/aboutus.html">About Us</a></li>
        <li><a href="../pages/services.html">Services</a></li>
        <li><a href="../pages/portfolio.html">Portfolio</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
      </ul>
    </div>

    <!-- SOCIAL -->
    <div class="footer-col">

      <h4>SOCIAL MEDIA</h4>

      <div class="socials">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-x-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>

    </div>

  </div>

  <!-- BIG TEXT -->
  <div class="footer-big">
  SIA PRODUCTIONS
  </div>

  <hr>

  <!-- BOTTOM -->
  <div class="footer-bottom">
    <span>Privacy Policy</span>
    <span>© 2026 SIA PRODUCTIONS. All rights reserved.</span>
    <span>Terms & Conditions</span>
  </div>

</footer>