<header class="navbar">

  <div class="logo">
    <img src="../assets/logo.png" alt="Logo">
  </div>

  <nav class="desktop-nav">
   <a href="../index.html">Home</a>
<a href="../pages/aboutus.html">About Us</a>
<a href="../pages/services.html">Services</a>
<a href="../pages/portfolio.html">Portfolio</a>
<a href="../pages/contact.html">Contact Us</a>
  </nav>

  <a class="quote-btn">GET A QUOTE</a>

  <div class="menu-toggle" onclick="toggleMenu()">☰</div>

</header>

<!-- MOBILE MENU -->
<div class="mobile-menu" id="mobileMenu">

  <div class="mobile-header">
    <div class="logo">
      <img src="../assets/logo.png" alt="Logo">
    </div>
    <div class="close-menu" onclick="toggleMenu()">✕</div>
  </div>

  <nav class="mobile-nav">
    <a href="../index.html" class="mobile-item">HOME</a>
    <a href="../pages/about.html" class="mobile-item">ABOUT US</a>
    <a href="../pages/services.html" class="mobile-item">SERVICES</a>
    <a href="../pages/portfolio.html" class="mobile-item">PORTFOLIO</a>
    <a href="../pages/contact.html" class="mobile-item">CONTACT US</a>
  </nav>

</div>

  <script>
    function toggleMenu() {
      document.getElementById("mobileMenu").classList.toggle("active");
    }
  </script>

<script src="../js/include.js"></script>

 <script>
setTimeout(() => {
  const links = document.querySelectorAll(".desktop-nav a");
  const currentPage = window.location.pathname.split("/").pop();

  links.forEach(link => {
    const linkPage = link.getAttribute("href").split("/").pop();

    if (linkPage === currentPage) {
      link.classList.add("active");
    }
  });
}, 100);
</script>
